extends header 

block content
    header.header 
        h1 Usuarios
    div.conteudo
        h2 Listagem de Usuários
        ul 
            each user in users 
                li= user.name 
                li= user.age

    h1 Busca Usuário por ID
    form(action='/users', method='POST')
        label(for='userId') User ID:
        input(type='text', name='id')
        input(type='text', name='email')
        input(type='text', name='name')
        input(type='text', name='age')
        br
        button(type='submit', value='submit') Cadastrar Usuário