extends header 

block content
    header.header 
        h1 Usuarios
    div.conteudo
        h2 Listagem de Usuários
        ul 
            each user in users 
                li= user.name 
                li= user.age